.jumbotron {
    padding: 0.3rem;
    margin-bottom: 0px;
}

#title {
    font-size: 55px;
}

.main-container {
    max-width: 100%;
    margin: 0px;
}

.main-row {
    height: 87vh;
    padding-bottom: 0px;    
}

.col-left {
    background-color: rgb(219, 217, 217);    
}

.col-right {
    padding-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#top-card {
    margin-right: 0px !important;
    padding-right: 0px;
    height: 50%;
}
.forecast{
    margin-top: 4%;
    margin-bottom: 5%;
}

#forcast-card {
    margin-right: 4%;
}
.card-title-format {
    font-size: 15px;
}
.card-body {
    padding-left: 3px;
}

.card-text {
    margin-left: 30px;
    margin-bottom: 15px;
}

#top-card-title {
    margin-left: 30px;
    font-size: 45px;
    font-weight: bolder;
}

#left-search {
    width: 80%;
    height: 50px !important;
    border-color: darkblue;
}
#left-search-button {
    border-color: darkblue;
    color: black;
    height: 50px !important;
    background-color: #4D77B8;
}

#search-history {
    margin-top: 50px;
}
#search-area {
    margin-top: 8px;
}
.fa-search {
    color: cornsilk;
}

/*--Bottom card styling --*/
#bottom-card-text {
    padding-left: 4px !important;
    text-align: left !important;
    font-size: 12px;
}
#weather-icon {
    margin-bottom: 50px !important;
    padding-bottom: 50px !important;
}
.temp {
    margin-top: 15px;
}
#card-forecast-date-1 {
    font-weight: bolder;
    text-align: center;
}
div.card-deck,
#card-contents {
    color: seashell;    
    font-size: 15px;
}
div.card-deck {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

